@import url('https://fontlibrary.org/face/minecraftia');
* {
    margin: 0;
    padding: 0;
}

body,
input {
    font-family: 'MinecraftiaRegular', sans-serif;
    font-size: 1.6rem;
    -webkit-font-smooting: antialiased !important;
}